*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:linear-gradient(135deg,#0f172a,#2563eb);
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    padding:20px;
}

.container{
    width:100%;
    max-width:420px;
    background:white;
    padding:25px;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,0.25);
}

h1{
    text-align:center;
    color:#2563eb;
    margin-bottom:20px;
}

input{
    width:100%;
    padding:12px;
    margin:8px 0;
    border:1px solid #ccc;
    border-radius:10px;
    font-size:15px;
}

.summary{
    display:flex;
    gap:10px;
    margin:15px 0;
}

.card{
    flex:1;
    color:white;
    border-radius:12px;
    padding:15px;
    text-align:center;
}

.income{
    background:#16a34a;
}

.expense{
    background:#dc2626;
}

.balance-card{
    background:#2563eb;
    color:white;
    text-align:center;
    padding:15px;
    border-radius:12px;
    margin-bottom:15px;
}

.balance-card h1{
    color:white;
    margin-top:10px;
}

.buttons{
    display:flex;
    gap:10px;
    margin:15px 0;
}

button{
    flex:1;
    padding:12px;
    border:none;
    border-radius:10px;
    color:white;
    font-size:15px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    transform:scale(1.03);
}

.income-btn{
    background:#16a34a;
}

.expense-btn{
    background:#dc2626;
}

.dark-btn{
    background:#111827;
    margin-top:15px;
    width:100%;
}

ul{
    list-style:none;
    margin-top:15px;
}

li{
    background:#f3f4f6;
    padding:12px;
    margin-bottom:10px;
    border-left:5px solid #2563eb;
    border-radius:8px;
    word-wrap:break-word;
}

@media(max-width:480px){

.summary,
.buttons{
    flex-direction:column;
}

}
